# --- Unity & BepInEx ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Bb]in/
[Mm]emoryCaptures/

# --- Visual Studio ---
.vs/
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.svnj
*.scc

# --- Makefile
*.temp

Libs/
Assembly-CSharp.dll
UnityEngine*.dll
BepInEx.dll

secrets.json
*.cfg
