name: Build Stable Release

on:
  push:
    tags:
      - 'V[0-9]+.[0-9]+.[0-9]+(-[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?(\+[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?'
      # V1.0.0 - 基础版本
      # V1.0.0-alpha - 预发布版本
      # V1.0.0-beta.1 - 带数字的预发布版本
      # V1.0.0+20230101 - 带日期的元数据
      # V1.0.0-rc.1+build.123 - 完整格式

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout AIChat
        uses: actions/checkout@v4

      - name: Cache APT packages
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: dotnet-sdk-8.0 python3 python3-pip zip pandoc

      - name: Cache Unity assemblies
        id: cache-unity
        uses: actions/cache@v4
        with:
          path: build-resource/mokgamedir/Chill With You_Data/Managed
          key: unity-assemblies-${{ hashFiles('build-resource/fetch.py') }}
          restore-keys: |
            unity-assemblies-
      - name: Cache BepInEx
        id: cache-bepinex
        uses: actions/cache@v4
        with:
          path: build-resource/assets/BepInEx_win_x64
          key: bepinex-${{ hashFiles('build-resource/fetch.py') }}
          restore-keys: |
            bepinex-

      - name: Run fetch.py
        if: steps.cache-unity.outputs.cache-hit != 'true' || steps.cache-bepinex.outputs.cache-hit != 'true'
        run: python3 build-resource/fetch.py

      - name: Get tag name as version
        id: info
        run: echo "version=${GITHUB_REF#refs/tags/} >> $GITHUB_OUTPUT

      - name: Inject version into Version.cs
        run: |
          sed -i 's/public const string VersionString = "dev";/public const string VersionString = "${{ steps.info.outputs.version }}";/' AIChat/Version.cs
          cat AIChat/Version.cs

      - name: Build AIChat.dll
        run: |
          dotnet build -c Release
          cp AIChat/bin/Release/net472/AIChat.dll build-resource/assets/

      - name: Add README.html
        run: build-resource/readme/build.sh

      - name: Zip Artifact
        run: |
          cd build-resource/assets/
          zip -r ../../AIChatMod.zip .

      - name: Delete old stable release with tag
        continue-on-error: true
        run: gh release delete ${{ steps.info.outputs.version }} --cleanup-tag --yes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Stable Release
        uses: softprops/action-gh-release@v2
        with:
          name: "稳定版 ${{ steps.info.outputs.version }}"
          body: |
            这是一个稳定版本。

          files: AIChatMod.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
