name: Pull Request Check Build

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout AIChat
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Cache APT packages
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: mono-complete zip pandoc

      - name: Download Unity assemblies from NuGet
        run: |
          cd build-resource/buildenv
          bash download-unityengine.sh
      - name: Download BepInEx
        run: |
          cd build-resource/buildenv
          bash download-bepinex.sh

      - name: Add README.html
          # github.css 来自 https://github.com/otsaloma/markdown-css
        run: |
          pandoc -f gfm --css=build-resource/buildenv/github.css --standalone --to=html5 --output=build-resource/assets/README.html --highlight-style=haddock --embed-resources README.md

      - name: Upload PR Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: AIChatMod-PR-${{ github.event.pull_request.number }}
          path: build-resource/assets/
          retention-days: 5
